.electric-border {
  --electric-light-color: oklch(from var(--electric-border-color) l c h);

  position: relative;
  border-radius: inherit;
  overflow: visible;
  isolation: isolate;

  transition: all 0.35s ease;
}

.eb-canvas-container {
    position: absolute;
    top: -28px;
    left: -28px;
    right: -28px;
    bottom: -28px;
    pointer-events: none;
    z-index: 20;
}

.eb-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.eb-content {
  position: relative;
  border-radius: inherit;
  z-index: 10;
}

.eb-layers {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;
}

.eb-glow-1,
.eb-glow-2,
.eb-background-glow {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  transition: all 0.35s ease;
}

.eb-glow-1 {
  border: 2px solid color-mix(in srgb, var(--electric-border-color) 75%, white);
  opacity: 0.75;
  filter: blur(2px);
}

.eb-glow-2 {
  border: 2px solid var(--electric-border-color);
  opacity: 0.9;
  filter: blur(16px);
}

.eb-background-glow {
  inset: -18px;
  z-index: -1;
  border-radius: inherit;
  background: radial-gradient(
    circle,
    rgba(255,60,60,.45) 0%,
    rgba(255,60,60,.12) 45%,
    transparent 75%
);

  filter: blur(45px);
  opacity: 0.6;
  transform: scale(1.08);
}

.electric-border:hover .eb-glow-1 {
  filter: blur(4px);
  opacity: 1;
}

.electric-border:hover .eb-glow-2 {
  filter: blur(18px);
  opacity: 1;
}

.electric-border:hover .eb-background-glow {
  opacity: .55;
  filter: blur(60px);
  transform: scale(1.12);
}
